
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


* {

    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none; 

}


.header 
{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F0A83E;   
    font-size: 25px;
    width: 100%;

   
}
.header h1{
    font-size: 40px;
}

.list
{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    transition: .05s;
 
}
.list li:hover{
    color: #fff6f6;
    transform: scale(1.1)
}

.first-section {

    background-image: url('./bowl-and-pet-daities-on-green-background 1.png');   
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    
 }
.first-section div {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.first-section div h1 {

    color: #070606;
    background-color: #f2efef;
    font-size: 30px;
    font-weight: 100;
    
 }
 .first-section button{
    background-color: #F0A83E;
    border: 0;
    border-radius: 12px;
    
 }
 .second-section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    text-align: center;
 }
.second-section h1{
    font-size: 60px;
}
 .second-section .destaques{
padding-top: 20px;
display: flex;
gap: 12px;
color: #ff0505;

transition: .05s;
 }
 .second-section .destaques a:hover{
 color: #8A8787;
 }

 nav{
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 
 
 .main-about{
    display: flex;
    
 }

.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;

} 
.third-section div{
padding: 5px;

}
.third-section input::placeholder{
    color: #f2efef;
}
.third-section input{
    width: 500px;
    background-color: #3C2313;
    border-radius: 12px;
    height: 40px;
    
    
}
.third-section .enviar{
    background-color: #F0A83E;
    width: 80px;
    transition: .05;
}
.third-section .enviar:hover{

    transform: scale(1.08);
}
.third-section .reset{
    width: 80px;
    background-color: #8A8787;
}
.third-section .reset:hover{
    transform: scale(1.08);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C2313;
    height: 105px;
    gap: 20px;

}
footer img{
    width: 75px;
    height: 75px;
    transition: .05;
} 
footer img:hover{
    transform: scale(1.2);
}


 
