@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(120, 169, 221);
    height: 100px;
    overflow: hidden;
    padding: 20px;

}

header img{
    width: 100px;
    object-fit: cover;
}

header ul{display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
    
}

