@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #181e34;
}
header{
    padding: 20px;
    background-color: #5572d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 40px;
    
}
header ul{
    display: flex;
    gap: 22px;
    text-decoration: none;
    list-style: none;

}

.main-section{
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding-top: 30px;
    

}


.main-section div{
    background-color: #44599e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}
.main-section input{
    border-radius: 12px;
}
.main-section .selecao{
    border-radius: 12px;
}
.main-section h1{
    margin: 20px;

}
.main-section .buttom{
    color: #0a0a0c;
    background-color: #b4e6b5;
}
.main-section .limpar{
    background-color: #b67272;
}